model {
  center_net {
    num_classes: 1
    feature_extractor {
      type: "mobilenet_v2_fpn_sep_conv"
      use_separable_conv: true #https://github.com/tensorflow/models/issues/10589#issuecomment-1181366759
    }
    image_resizer {
      keep_aspect_ratio_resizer {
        min_dimension: 512
        max_dimension: 512
        pad_to_max_dimension: true
      }
    }
    use_depthwise: true
    object_detection_task {
      task_loss_weight: 0.2
      offset_loss_weight: 1.0
      scale_loss_weight: 0.1
      localization_loss {
        l1_localization_loss {
        }
      }
    }
    object_center_params {
      object_center_loss_weight: 1.0
      classification_loss {
        penalty_reduced_logistic_focal_loss {
          alpha: 2.0
          beta: 4.0
        }
      }
      min_box_overlap_iou: 0.7
      max_box_predictions: 1
    }
    keypoint_label_map_path: "config/centernet_mobilenetv2_fpn_kpts/label_map.txt"
    keypoint_estimation_task {
      task_name: "document_detection"
      task_loss_weight: 1.0
      loss {
        localization_loss {
          l1_localization_loss {
          }
        }
        classification_loss {
          penalty_reduced_logistic_focal_loss {
            alpha: 2.0
            beta: 4.0
          }
        }
      }
      keypoint_class_name: "document"
      keypoint_label_to_std {
        key: "top_left"
        value: 5
      }
      keypoint_label_to_std {
        key: "top_right"
        value: 5
      }
      keypoint_label_to_std {
        key: "bottom_right"
        value: 5
      }
      keypoint_label_to_std {
        key: "bottom_left"
        value: 5
      }
      keypoint_regression_loss_weight: 1.0
      keypoint_heatmap_loss_weight: 1.0
      keypoint_offset_loss_weight: 1.0
      offset_peak_radius: 3
      per_keypoint_offset: true
    }
  }
}
train_config {
  batch_size: 10    # Increase/Decrease this value depending on the available memory (Higher values require more memory and vice-versa)
  data_augmentation_options {
    random_horizontal_flip {
      keypoint_flip_permutation: 1
      keypoint_flip_permutation: 0
      keypoint_flip_permutation: 3
      keypoint_flip_permutation: 2
    }
  }
#  data_augmentation_options {  #probably not necessary. https://medium.com/bethgelab/increasing-the-robustness-of-dnns-against-image-corruptions-by-playing-the-game-of-noise-4566b5c2c8d5
#    random_patch_gaussian {
#    }
#  }
#  data_augmentation_options {
#    random_crop_image {
#      min_aspect_ratio: 0.5
#      max_aspect_ratio: 1.7
#      random_coef: 0.25
#    }
#  }
  data_augmentation_options {
    random_adjust_hue {
    }
  }
  data_augmentation_options {
    random_adjust_contrast {
    }
  }
  data_augmentation_options {
    random_adjust_saturation {
    }
  }
  data_augmentation_options {
    random_adjust_brightness {
    }
  }
  data_augmentation_options {
    random_absolute_pad_image {
      max_height_padding: 200
      max_width_padding: 200
      pad_color: 0.0
      pad_color: 0.0
      pad_color: 0.0
    }
  }
  optimizer {
    adam_optimizer {
      #epsilon: 1e-7  # Match tf.keras.optimizers.Adam's default.
      learning_rate {
        cosine_decay_learning_rate {
          learning_rate_base: 5e-3
          total_steps: 150000
          warmup_learning_rate: 1e-4
          warmup_steps: 3000
        }
      }
    }
    use_moving_average: false
  }
  num_steps: 150000
  max_number_of_boxes: 2
  unpad_groundtruth_tensors: false
  fine_tune_checkpoint_version: V2
  fine_tune_checkpoint: "/content/gdrive/MyDrive/ML/ClearScanner/pretrained_model/centernet_mobilenetv2_fpn_kpts/checkpoint/ckpt-301" # path to pretrained_model checkpoint
  fine_tune_checkpoint_type: "detection"
}
train_input_reader {
  label_map_path: "config/centernet_mobilenetv2_fpn_kpts/label_map.txt"
  tf_record_input_reader {
    input_path: "dataset/tfrecord/coco_train.record-?????-of-?????"
  }
  filenames_shuffle_buffer_size: 256
  num_keypoints: 4
}
eval_config {
  num_visualizations: 10
  metrics_set: "coco_detection_metrics"
  use_moving_averages: false
  min_score_threshold: 0.2
  max_num_boxes_to_visualize: 20
  batch_size: 1
  parameterized_metric {
    coco_keypoint_metrics {
      class_label: "document"
      keypoint_label_to_sigmas {
        key: "top_left"
        value: 5
      }
      keypoint_label_to_sigmas {
        key: "top_right"
        value: 5
      }
      keypoint_label_to_sigmas {
        key: "bottom_right"
        value: 5
      }
      keypoint_label_to_sigmas {
        key: "bottom_left"
        value: 5
      }
    }
  }
  keypoint_edge {  # top_left - top_right
    start: 0
    end: 1
  }
  keypoint_edge {  # top_right - bottom_right
    start: 1
    end: 2
  }
  keypoint_edge {  # bottom_right - bottom_left
    start: 2
    end: 3
  }
  keypoint_edge {  # bottom_left - top_left
    start: 3
    end: 0
  }
}
eval_input_reader {
  label_map_path: "config/centernet_mobilenetv2_fpn_kpts/label_map.txt"
  shuffle: false
  num_epochs: 1
  tf_record_input_reader {
    input_path: "dataset/tfrecord/coco_testdev.record-?????-of-?????" # path to val tfrecord
  }
  num_keypoints: 4
}